.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: #FFFFFF;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    width: 90%;
    height: 90%;
    margin: 1rem auto;
}

@media  (max-width: 768px) {
    .chat {
        width: 100%;
        margin: 0 auto;
    }
}
